*{
  box-sizing:border-box;
}

html,body{
  margin:0;
  height:100%;
  overflow:hidden;
  background:#071018;
  color:#fff;
  font-family:system-ui,Segoe UI,sans-serif;
  touch-action:none;
}

#game{
  position:fixed;
  inset:0;
}

#hud{
  position:fixed;
  z-index:5;
  top:10px;
  left:10px;
  right:10px;
  display:flex;
  justify-content:flex-end;
  gap:7px;
  pointer-events:none;
}

#hud>div{
  min-width:65px;
  padding:5px 7px;
  text-align:center;
  border:1px solid #fff3;
  border-radius:10px;
  background:#071018cc;
  backdrop-filter:blur(8px);
}

#hud span,
#hud small{
  display:block;
  font-size:8px;
  opacity:.55;
  letter-spacing:1px;
}

#hud b{
  font-size:16px;
}

#pause{
  pointer-events:auto;
  width:42px;
  height:42px;
  border:1px solid #fff3;
  border-radius:10px;
  background:#071018cc;
  color:white;
  font-size:18px;
}

.screen{
  position:fixed;
  inset:0;
  z-index:10;
  display:grid;
  place-items:center;
  background:#0008;
  padding:15px;
}

.hidden{
  display:none;
}

.card{
  width:min(440px,92vw);
  text-align:center;
  padding:30px 24px;
  border:1px solid #fff2;
  border-radius:24px;
  background:#071018ed;
  box-shadow:0 25px 90px #000b;
  backdrop-filter:blur(14px);
}

.tag{
  font-size:9px;
  letter-spacing:4px;
  opacity:.55;
}

.card h1{
  font-size:38px;
  line-height:.9;
  margin:10px 0 15px;
  letter-spacing:-2px;
}

.card h1 em{
  font-style:normal;
}

.card h2{
  font-size:35px;
  margin:12px;
}

.card p{
  opacity:.7;
}

.card button{
  width:100%;
  padding:14px;
  margin-top:10px;
  border-radius:12px;
  font-weight:900;
}

.card button:first-of-type{
  background:#fff;
  color:#071018;
  border:0;
}

.card button:not(:first-of-type){
  background:#fff1;
  color:#fff;
  border:1px solid #fff3;
}

.tips{
  font-size:10px;
  opacity:.48;
  line-height:1.6;
  margin-top:16px;
}

#touch{
  position:fixed;
  z-index:7;
  left:0;
  right:0;
  bottom:14px;
  display:flex;
  justify-content:space-between;
  padding:0 14px;
}

#touch>div{
  display:flex;
  gap:8px;
}

#touch button{
  width:67px;
  height:67px;
  border-radius:16px;
  border:1px solid #fff3;
  background:#071018bb;
  color:#fff;
  font-weight:900;
  font-size:24px;
  backdrop-filter:blur(7px);
}

#touch #brake{
  font-size:10px;
  width:75px;
}

#touch #boost{
  border-radius:50%;
  font-size:29px;
}

#toast{
  position:fixed;
  z-index:20;
  left:50%;
  bottom:105px;
  transform:translateX(-50%);
  padding:8px 14px;
  border-radius:999px;
  background:#071018ed;
  border:1px solid #fff3;
  font-size:12px;
  opacity:0;
  transition:.2s;
}

@media(min-width:800px){
  #touch{
    display:none;
  }
}
